
#roomID {
  color: #6dc46d;
}

.chat-section {
  height: 65vh;
  width: 100%;
  /* background-color: rgb(73, 122, 195); */
  /* border: 1px solid white; */
  overflow-y: scroll;
  scrollbar-width: none;
  transition: all ease 1s;
  font-size: clamp(1rem, -1.5rem + 8vw,2rem);
  
}

.msg{
    border: 1px solid;
    border-radius: 25px;
    margin: 5px;
    padding: 1rem;
    display: flex;

}
.mine{
    border-color: rgb(230, 95, 95);
    justify-content: end;
}
.other{
   border-color: #435db8; 
   justify-content: start;
}

.chat-input-section {
    width: 100%;
    /* background-color: #6da0c4; */
    position: absolute;
    bottom: 5px;
    left: 0;
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    position: fixed;

}

.chat-input {
  height: 2.5rem;
  width: 35vw;
  border: 1px solid #6dc46d;
  background-color: transparent;
  border-radius: 25px;
  padding: 1rem 1.5rem  1rem 1.5rem;
  outline: none;
  font-size: 1.5rem;
  resize: none;

}


#chat-username{
  color: #6dc46d;
  
}

#chat-msg{
  letter-spacing: 0.1rem;
}

#leave-room-btn{
  margin-bottom: 0.7rem;
}
#leave-room-btn:hover{
  background-color: rgb(241, 87, 87);
  color: #fff;

}


